# EditorConfig configuration
# http://EditorConfig.org

root = true;

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
carset = utf-8

[*.nix]
indent_style = space
indent_size = 2

[*.{json,jsonc}]
indent_style = space
indent_size = 2
